#exams 
{
	background: -moz-linear-gradient(top, rgba(255, 236, 175, 1) 0%,
		rgba(255, 192, 3, 1) 100% );
	color: #093;
	background-color: yellow;
	top: 2px;
	left: 2px;
}

/* .button */
/* { */
/* 	background-color: #090; Цвет фона */
	
/* 	border-radius: 7px;  */
/* 	width: 125px; */
/* 	height:25px; */
	
/* /* 	font-size: 17px; Размер шрифта  */ */
/* 	font-size: 1em; */
/*  	color: #FFFFFF; Цвет шрифта */
/* 	text-align: center; Надпись на кнопке по центру */

/* 	border: 1px solid #73C8F0; Параметры рамки кнопки */
/* 	cursor: pointer; Изменение вида курсора при наведении  */
  	
/* 	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)); */
/* 	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)); */
/* } */

/* .button:hover */
/* { */
/*   	background-color: orange; */
/* } */

/* #opback  */
/* { */
/* 	top: 0; */
/* 	left: 0; */
/* 	bottom: 0; */
/* 	right: 0; */
/* 	position: absolute; */
/* 	z-index: -1; */
/* 	background-image: url(http://ita.in.ua/images/header.jpg); */
/* 	background-repeat: no-repeat; */
/* 	opacity: .05; */
/* } */

/* #content  */
/* { */
/* 	margin-left: auto; */
/* 	margin-right: auto; */
/* } */

/* #error */
/* { */
/* 	color: red; */
/* } */

