#opback {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	background-image: url(http://ita.in.ua/images/header.jpg);
	background-repeat: no-repeat;
	opacity: .05;
}

#fm {
	background: -moz-linear-gradient(top, rgba(255, 236, 175, 1) 0%,
		rgba(255, 192, 3, 1) 100% );
	color: #093;
	background-color: yellow;
	top: 2px;
	left: 2px;
}


#left,#right {
	/*display: table-cell;
	border: 1px solid red;*/
	float: left;
	overflow: auto;
	min-width: 30%;
	max-width: 50%;
}

#left {
	border-right: 2px solid green;
}

#left ul {	
	margin-left: 15px;
}

#left li {
	list-style-type: none;
	padding-right: 5px;
	/*border: 1px solid red;
	margin: 5px;*/
}

#left>li{
	margin-left:5px;
}

#right h2, #right form, #right fieldset{
	display: inline;
}

#container td{
	padding: 5px;	
}

.selectedFolder a{
	color: orange;
	text-decoration: none;
}