@CHARSET "UTF-8";

#lessons {
	background: -moz-linear-gradient(top, rgba(255, 236, 175, 1) 0%,
		rgba(255, 192, 3, 1) 100% );
	background-color: yellow;
	color: #093;
	top: 2px;
	left: 2px;
}
#p1 
{ 
	background-color:#90EE90
}
#mp 
{ 
background-color:#7FFFD4
}
#it1 
{ 
background-color:#008B45
}
#it2 
{ 
background-color:#F0FFFF
}
#it3 
{ 
background-color:#7CCD7C
}
#it4 
{ 
background-color:#C1FFC1
}
#tab
{
font-style:italic }
#mp 
{
	font-size:10px 
}
 #it1 
 {
 font-size:12px 
 }